* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

section {
  margin: 0 auto;
}

.s-link, .s-story .container .s-container .s-wedo .row div:nth-child(4) a, .s-story .container .s-container .s-wedo .row div:nth-child(3) a, .s-story .container .s-container .s-wedo .row div:nth-child(2) a {
  color: #f45e00;
}
.s-link:hover, .s-story .container .s-container .s-wedo .row div:nth-child(4) a:hover, .s-story .container .s-container .s-wedo .row div:nth-child(3) a:hover, .s-story .container .s-container .s-wedo .row div:nth-child(2) a:hover {
  color: #ffce1a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

.section {
  padding: 100px 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 680px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.container-fluid {
  max-width: 650px;
  padding: 0;
}

.main {
  margin: 100px auto;
  background-color: #fff;
}

.email--padding {
  padding: 2em 2em 1em 2em;
}

.bg-gray {
  background-color: #f7f7f7;
}

html {
  background: rgba(130, 115, 252, 0.05);
  --bg: #fff;
  --bg-gray:#f7f7f7;
  --color: #000;
  --bg-light: #fff;
  --color-light-gray2:rgba(27,27,45,0.7);
  --color-light-gray: rgba(247,247,247);
  --border-color: rgb(238, 238, 238);
}
html iframe {
  filter: grayscale(0%);
}

html[data-theme=dark] {
  --bg: #232220;
  --bg-gray:#282828;
  --color: #fff;
  --bg-light:#282828;
  --color-light-gray2:#fff;
  --color-light-gray:rgba(255,255,255,0.03);
  --border-color: #59595c;
}
html[data-theme=dark] iframe {
  filter: grayscale(100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important;
}

#button {
  display: inline-block;
  background-color: #ff6600;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #fff;
  line-height: 48px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button:hover {
  cursor: pointer;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.footer {
  background-color: black;
  color: #fff;
  padding-bottom: 10px;
}
.footer .footer__content .footer__wrap h3 {
  padding-bottom: 10px;
}
.footer .footer__content .footer__wrap .footer__detail {
  padding-right: 3rem;
}
@media screen and (max-width: 991px) {
  .footer .footer__content .footer__wrap .footer__detail {
    margin-bottom: 30px;
  }
}
.footer .footer__content .footer__wrap .footer__detail h3 {
  font-weight: 700;
}
.footer .footer__content .footer__wrap .footer__detail p {
  font-size: 18px;
  font-weight: 300;
  color: #a5a2a1;
  line-height: 1.4;
  letter-spacing: 1;
  padding: 10px 0;
}
.footer .footer__content .footer__wrap .footer__detail .footer__detail--social {
  display: flex;
}
@media screen and (max-width: 991px) {
  .footer .footer__content .footer__wrap .footer__detail .footer__detail--social {
    justify-content: center;
  }
}
.footer .footer__content .footer__wrap .footer__detail .footer__detail--social .footer__link--social {
  margin-right: 20px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #ff6600;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s;
}
.footer .footer__content .footer__wrap .footer__detail .footer__detail--social .footer__link--social:hover {
  background-color: #ff6600;
  color: #fff;
  cursor: pointer;
}
.footer .footer__content .footer__wrap .footer__detail--link h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1;
}
.footer .footer__content .footer__wrap .footer__detail--link a {
  font-size: 16px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 2.2;
  letter-spacing: 1;
  transition: all 0.5s;
}
.footer .footer__content .footer__wrap .footer__detail--link a:hover {
  color: #ff6600;
  cursor: pointer;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe p {
  font-size: 16px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 1.6;
  letter-spacing: 1;
  padding: 10px 0 5px;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .form-control {
  padding: 1rem 1rem;
  background-color: var(--bg);
  border: 1px solid transparent;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .form-control:focus {
  border-color: #ff6600;
  box-shadow: none;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .btn {
  width: 100%;
  padding: 1rem;
  background-color: #ff6600;
  border-color: #ff6600;
  transition: all 0.5s;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .btn:hover {
  opacity: 0.7;
}
.footer .footer__content .footer__bottom {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .footer .footer__content .footer__bottom {
    flex-direction: column;
  }
  .footer .footer__content .footer__bottom p {
    text-align: center;
  }
}
.footer .footer__content .footer__bottom .footer__left p {
  font-size: 18px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 1.5;
  letter-spacing: 1;
}
.footer .footer__content .footer__bottom .footer__left p span {
  color: #ff6600;
  transition: all 0.5s;
}
.footer .footer__content .footer__bottom .footer__left p span:hover {
  color: #fff;
  cursor: pointer;
}
.footer .footer__content .footer__bottom .footer__right span {
  padding-left: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 1.5;
  letter-spacing: 1;
  transition: all 0.5s;
}
.footer .footer__content .footer__bottom .footer__right span:hover {
  color: #ff6600;
  cursor: pointer;
}

.sidebar {
  background-color: #0D1326;
  color: #8F95A9;
  padding: 30px 5px 40px;
  display: inline-block;
  text-align: center;
  border-radius: 10px 0 0 10px;
  position: fixed;
  line-height: 1.5;
  top: 10%;
  right: 0;
  z-index: 1000;
}
.sidebar .sidebar__next {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(143, 149, 169, 0.4);
  margin-bottom: 30px;
}
.sidebar .sidebar__content {
  transition: all 0.5s;
}
.sidebar .sidebar__content:hover {
  color: #fff;
  cursor: pointer;
}
.sidebar .sidebar__content p {
  color: #8F95A9 !important;
  font-size: 16px;
}

.header, .headerSub {
  padding-top: 20px;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsla(30deg, 100%, 1%, 0.2)), url("../img_landing_page/banner1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
}
@media screen and (max-width: 768px) {
  .header, .headerSub {
    min-height: 600px;
  }
}
.header .navbar .navbar-brand, .headerSub .navbar .navbar-brand {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.header .navbar .navbar-toggler, .headerSub .navbar .navbar-toggler {
  padding: 0;
  margin-left: 10px;
  border: transparent;
}
.header .navbar .navbar-toggler:focus, .headerSub .navbar .navbar-toggler:focus {
  border: transparent;
  box-shadow: none;
}
.header .navbar .navbar-toggler .navbar-toggler-icon, .headerSub .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.header .navbar .offcanvas.offcanvas-end, .headerSub .navbar .offcanvas.offcanvas-end {
  width: 100%;
}
.header .navbar .offcanvas, .headerSub .navbar .offcanvas {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.header .navbar .offcanvas a, .headerSub .navbar .offcanvas a {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 2;
  letter-spacing: 0;
  transition: all 0.5s;
}
.header .navbar .offcanvas a:hover, .headerSub .navbar .offcanvas a:hover {
  color: #ff6600;
}
.header .navbar .offcanvas .offcanvas-header .btn-close, .headerSub .navbar .offcanvas .offcanvas-header .btn-close {
  width: 30px;
  height: 30px;
  background: none;
  line-height: 30px;
  background-color: #ff6600;
  opacity: 1;
  color: #fff;
  font-size: 18px;
}
.header .searchbox, .headerSub .searchbox {
  position: relative;
}
@media screen and (max-width: 768px) {
  .header .searchbox, .headerSub .searchbox {
    width: 200px;
    margin: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .header .searchbox, .headerSub .searchbox {
    width: 0;
  }
}
.header .searchbox input, .headerSub .searchbox input {
  background-color: var(--bg);
  width: 250px;
  border: 0px;
  height: 50px;
  padding: 0px 35px;
  font-size: 16px;
  outline: none;
}
.header .searchbox input:focus, .headerSub .searchbox input:focus {
  box-shadow: none;
}
@media screen and (max-width: 576px) {
  .header .searchbox input, .headerSub .searchbox input {
    display: none;
  }
}
.header .searchbox .searchbtn, .headerSub .searchbox .searchbtn {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .header .searchbox .searchbtn, .headerSub .searchbox .searchbtn {
    display: none;
  }
}
.header .searchbox .searchbtn .fas, .headerSub .searchbox .searchbtn .fas {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  color: var(--color-light-gray2);
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .header .searchbox .searchbtn .fas, .headerSub .searchbox .searchbtn .fas {
    left: 90%;
  }
}
.header .header__bottom .header__content, .headerSub .header__bottom .header__content {
  max-width: 600px;
  text-align: left;
  padding-top: 100px;
}
.header .header__bottom .header__content h1, .headerSub .header__bottom .header__content h1 {
  font-size: 63px;
  font-weight: 500;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 0;
}
@media screen and (max-width: 1199px) {
  .header .header__bottom .header__content h1, .headerSub .header__bottom .header__content h1 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media screen and (max-width: 768px) {
  .header .header__bottom .header__content h1, .headerSub .header__bottom .header__content h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
.header .header__bottom .header__content p, .headerSub .header__bottom .header__content p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.8;
  letter-spacing: 1.5;
  padding: 20px 0;
}

.headerSub {
  background-image: linear-gradient(to right, rgba(236, 98, 6, 0.98), rgba(5, 3, 0, 0.83)), url("../img/banner2.jpg") !important;
  min-height: 350px !important;
  position: relative;
}
.headerSub .header__detail .header__detail--info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 0;
}
.headerSub .header__detail .header__detail--info a.active {
  font-size: 18px;
  font-weight: 700;
  color: #ff6600;
  line-height: 1.3;
  letter-spacing: 0;
}
.headerSub .header__detail .header__detail--info i {
  padding: 0 20px;
}
.headerSub .header__detail .header__detail--info a {
  color: #fff;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.dark {
  position: absolute;
  top: 5px;
  left: 0;
  cursor: pointer;
}

.theme {
  position: relative;
  overflow: hidden;
  font-size: 22px;
  color: #fff;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .theme {
    margin-left: 3rem !important;
  }
}

.light {
  position: absolute;
  top: 5px;
  left: 0;
  display: none;
  cursor: pointer;
}

.s-story {
  background-color: var(--bg);
}
.s-story .container {
  padding: 50px 0px;
}
.s-story .container .s-container {
  padding: 48px 0px;
}
.s-story .container .s-container h6 {
  font-family: "Pacifico", cursive;
  color: #f45e00;
  font-size: 20px;
}
.s-story .container .s-container h2 {
  font-size: 38px;
  margin-bottom: 48px;
  font-weight: 500;
  color: var(--color);
}
@media screen and (min-width: 1200px) {
  .s-story .container .s-container .s-content {
    color: var(--color);
    flex-direction: row;
    height: 390px;
  }
  .s-story .container .s-container .s-content .s-thumnail img {
    width: 570px;
    border-radius: 6px;
    margin: 0px 15px;
  }
  .s-story .container .s-container .s-content .s-text {
    padding: 0px 15px 0px 48px;
  }
  .s-story .container .s-container .s-content .s-text h3 {
    font-size: 38px;
    word-spacing: 2px;
    font-weight: 500;
  }
  .s-story .container .s-container .s-content .s-text p:nth-child(2) {
    font-size: 18px;
    margin: 24px 0px;
    font-weight: 300;
    color: var(--color);
  }
  .s-story .container .s-container .s-content .s-text p:nth-child(3) {
    font-size: 18px;
    margin: 24px 0px;
    font-weight: 300;
    color: var(--color);
  }
  .s-story .container .s-container .s-content .s-text button {
    margin-top: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #f45e00;
    padding: 12px 45px;
    border-radius: 5px;
    border: solid 2px #f45e00;
    transition: all 0.5s;
  }
  .s-story .container .s-container .s-content .s-text button:hover {
    background-color: #ff8533;
    border: solid 2px #ff8533;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1200px) {
  .s-story .container .s-container .s-content {
    flex-direction: row;
    height: 390px;
  }
  .s-story .container .s-container .s-content .s-thumnail img {
    width: 450px;
    border-radius: 6px;
    margin: 0px 15px;
  }
  .s-story .container .s-container .s-content .s-text {
    padding: 0px 15px 0px 48px;
  }
  .s-story .container .s-container .s-content .s-text h3 {
    font-size: 38px;
    word-spacing: 2px;
    font-weight: 500;
  }
  .s-story .container .s-container .s-content .s-text p:nth-child(2) {
    font-size: 18px;
    margin: 24px 0px;
    font-weight: 300;
    color: rgba(22, 28, 45, 0.7);
  }
  .s-story .container .s-container .s-content .s-text p:nth-child(3) {
    font-size: 18px;
    margin: 24px 0px;
    font-weight: 300;
    color: rgba(22, 28, 45, 0.7);
  }
  .s-story .container .s-container .s-content .s-text button {
    margin-top: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #f45e00;
    padding: 12px 45px;
    border-radius: 5px;
    border: solid 2px #f45e00;
    transition: all 0.5s;
  }
  .s-story .container .s-container .s-content .s-text button:hover {
    background-color: #ff8533;
    border: solid 2px #ff8533;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 992px) {
  .s-story .container .s-container .s-content {
    height: 850px;
    overflow: hidden;
    flex-direction: column;
  }
  .s-story .container .s-container .s-content .s-thumnail img {
    width: 690px;
    border-radius: 6px;
    margin: 0px 15px;
  }
  .s-story .container .s-container .s-content .s-text {
    margin-top: 50px;
    padding: 0px;
  }
  .s-story .container .s-container .s-content .s-text h3 {
    font-size: 38px;
    word-spacing: 2px;
    font-weight: 500;
  }
  .s-story .container .s-container .s-content .s-text p:nth-child(2) {
    font-size: 18px;
    margin: 24px 0px;
    font-weight: 300;
    color: rgba(22, 28, 45, 0.7);
  }
  .s-story .container .s-container .s-content .s-text p:nth-child(3) {
    font-size: 18px;
    margin: 24px 0px;
    font-weight: 300;
    color: rgba(22, 28, 45, 0.7);
  }
  .s-story .container .s-container .s-content .s-text button {
    margin-top: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #f45e00;
    padding: 12px 45px;
    border-radius: 5px;
    border: solid 2px #f45e00;
    transition: all 0.5s;
  }
  .s-story .container .s-container .s-content .s-text button:hover {
    background-color: #ff8533;
    border: solid 2px #ff8533;
    transition: all 0.5s;
  }
}
.s-story .container .s-container .s-wedo {
  margin-top: 48px;
}
.s-story .container .s-container .s-wedo .row div:nth-child(1) h3 {
  font-size: 38px;
  color: var(--color);
}
.s-story .container .s-container .s-wedo .row div:nth-child(2) a {
  font-size: 20px;
  text-decoration: none;
}
.s-story .container .s-container .s-wedo .row div:nth-child(2) p {
  font-size: 18px;
  margin-top: 5px;
  color: var(--color);
}
.s-story .container .s-container .s-wedo .row div:nth-child(3) a {
  font-size: 20px;
  text-decoration: none;
}
.s-story .container .s-container .s-wedo .row div:nth-child(3) p {
  font-size: 18px;
  margin-top: 5px;
  color: var(--color);
}
.s-story .container .s-container .s-wedo .row div:nth-child(4) a {
  font-size: 20px;
  text-decoration: none;
}
.s-story .container .s-container .s-wedo .row div:nth-child(4) p {
  font-size: 18px;
  margin-top: 5px;
  color: var(--color);
}

.s-skill {
  padding: 48px 0px;
  background-color: var(--bg-gray);
  color: var(--color);
}
.s-skill .container {
  padding: 48px 15px;
}
.s-skill .container .s-container .row .s-left {
  padding: 0px 15px;
  padding-right: 80px;
}
.s-skill .container .s-container .row .s-left h6:nth-child(1) {
  font-size: 20px;
  font-family: "Pacifico", cursive;
  color: #f45e00;
}
.s-skill .container .s-container .row .s-left h2 {
  font-size: 38px;
  margin-bottom: 16px;
}
.s-skill .container .s-container .row .s-left p {
  font-size: 18px;
  color: var(--color);
  font-weight: 300;
}
.s-skill .container .s-container .row .s-left h6:nth-child(4) {
  position: relative;
  margin-top: 24px;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.s-skill .container .s-container .row .s-left h6:nth-child(4)::before {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #595e6a;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 3px;
}
.s-skill .container .s-container .row .s-left h6:nth-child(4)::after {
  content: "";
  width: 80%;
  height: 6px;
  background-color: #ff6600;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 3px 0 0 3px;
}
.s-skill .container .s-container .row .s-left h6:nth-child(5) {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.s-skill .container .s-container .row .s-left h6:nth-child(5)::before {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #595e6a;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 3px;
}
.s-skill .container .s-container .row .s-left h6:nth-child(5)::after {
  content: "";
  width: 95%;
  height: 6px;
  background-color: #ff6600;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 3px 0 0 3px;
}
.s-skill .container .s-container .row .s-left h6:nth-child(6) {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.s-skill .container .s-container .row .s-left h6:nth-child(6)::before {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #595e6a;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 3px;
}
.s-skill .container .s-container .row .s-left h6:nth-child(6)::after {
  content: "";
  width: 60%;
  height: 6px;
  background-color: #ff6600;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 3px 0 0 3px;
}
.s-skill .container .s-container .row .s-thumb-center img {
  width: 100%;
  border-radius: 5px;
}
.s-skill .container .s-container .row .s-thumb-right img {
  width: 100%;
  border-radius: 5px;
}

.s-team {
  background-color: var(--bg);
  padding: 48px 0px;
  color: var(--color);
}
.s-team .container {
  padding: 48px 15px;
}
.s-team .container .s-container h6:first-child {
  font-size: 20px;
  font-family: "Pacifico", cursive;
  color: #f45e00;
}
.s-team .container .s-container h2 {
  line-height: 48px;
  font-size: 38px;
  margin-bottom: 24px;
}
.s-team .container .s-container .thumb {
  flex-wrap: wrap;
}
@media screen and (min-width: 992px) {
  .s-team .container .s-container .thumb .item {
    width: 33.3333333333% !important;
  }
}
@media screen and (max-width: 992px) {
  .s-team .container .s-container .thumb .item {
    width: 50% !important;
  }
}
.s-team .container .s-container .thumb .item {
  padding: 0 15px;
}
.s-team .container .s-container .thumb .item:hover .s-menu {
  visibility: visible;
}
.s-team .container .s-container .thumb .item:hover h6:nth-child(2) {
  color: #f45e00;
}
.s-team .container .s-container .thumb .item img {
  width: 100%;
  border-radius: 5px;
}
.s-team .container .s-container .thumb .item h6 {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 600;
}
.s-team .container .s-container .thumb .item p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.s-team .container .s-container .thumb .item .s-menu {
  visibility: hidden;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-team .container .s-container .thumb .item .s-menu .s-fb {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}
.s-team .container .s-container .thumb .item .s-menu .s-fb i {
  line-height: 42px;
  font-size: 16px;
  color: var(--color);
}
.s-team .container .s-container .thumb .item .s-menu .s-fb:hover {
  background-color: #fff;
  color: #f45e00;
}
.s-team .container .s-container .thumb .item .s-menu .s-fb:hover i {
  color: #f45e00;
}
.s-team .container .s-container .thumb .item .s-menu .s-twiter {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.s-team .container .s-container .thumb .item .s-menu .s-twiter i {
  line-height: 42px;
  font-size: 16px;
  color: var(--color);
}
.s-team .container .s-container .thumb .item .s-menu .s-twiter:hover {
  background-color: #fff;
  color: #f45e00;
}
.s-team .container .s-container .thumb .item .s-menu .s-twiter:hover i {
  color: #f45e00;
}
.s-team .container .s-container .thumb .item .s-menu .s-insta {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.s-team .container .s-container .thumb .item .s-menu .s-insta i {
  line-height: 42px;
  font-size: 16px;
  color: var(--color);
}
.s-team .container .s-container .thumb .item .s-menu .s-insta:hover {
  background-color: #fff;
  color: #f45e00;
}
.s-team .container .s-container .thumb .item .s-menu .s-insta:hover i {
  color: #f45e00;
}

.footer {
  background-color: black;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 100px;
}
.footer .footer__content .footer__wrap h3 {
  padding-bottom: 10px;
}
.footer .footer__content .footer__wrap .footer__detail {
  padding-right: 3rem;
}
@media screen and (max-width: 991px) {
  .footer .footer__content .footer__wrap .footer__detail {
    margin-bottom: 30px;
  }
}
.footer .footer__content .footer__wrap .footer__detail h3 {
  font-weight: 700;
}
.footer .footer__content .footer__wrap .footer__detail p {
  font-size: 18px;
  font-weight: 300;
  color: #a5a2a1;
  line-height: 1.4;
  letter-spacing: 1;
  padding: 10px 0;
}
.footer .footer__content .footer__wrap .footer__detail .footer__detail--social {
  display: flex;
}
@media screen and (max-width: 991px) {
  .footer .footer__content .footer__wrap .footer__detail .footer__detail--social {
    justify-content: center;
  }
}
.footer .footer__content .footer__wrap .footer__detail .footer__detail--social .footer__link--social {
  margin-right: 20px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #ff6600;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s;
}
.footer .footer__content .footer__wrap .footer__detail .footer__detail--social .footer__link--social:hover {
  background-color: #ff6600;
  color: #fff;
  cursor: pointer;
}
.footer .footer__content .footer__wrap .footer__detail--link h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1;
}
.footer .footer__content .footer__wrap .footer__detail--link a {
  font-size: 16px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 2.2;
  letter-spacing: 1;
  transition: all 0.5s;
}
.footer .footer__content .footer__wrap .footer__detail--link a:hover {
  color: #ff6600;
  cursor: pointer;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe p {
  font-size: 16px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 1.6;
  letter-spacing: 1;
  padding: 10px 0 5px;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .form-control {
  padding: 1rem 1rem;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .form-control:focus {
  border-color: #ff6600;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .btn {
  width: 100%;
  padding: 1rem;
  background-color: #ff6600;
  border-color: #ff6600;
  transition: all 0.5s;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .btn:hover {
  opacity: 0.7;
}
.footer .footer__content .footer__bottom {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .footer .footer__content .footer__bottom {
    flex-direction: column;
  }
  .footer .footer__content .footer__bottom p {
    text-align: center;
  }
}
.footer .footer__content .footer__bottom .footer__left p {
  font-size: 18px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 1.5;
  letter-spacing: 1;
}
.footer .footer__content .footer__bottom .footer__left p span {
  color: #ff6600;
  transition: all 0.5s;
}
.footer .footer__content .footer__bottom .footer__left p span:hover {
  color: #fff;
  cursor: pointer;
}
.footer .footer__content .footer__bottom .footer__right span {
  padding-left: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 1.5;
  letter-spacing: 1;
  transition: all 0.5s;
}
.footer .footer__content .footer__bottom .footer__right span:hover {
  color: #ff6600;
  cursor: pointer;
}

#button {
  display: inline-block;
  background-color: #ff6600;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #fff;
  line-height: 48px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button:hover {
  cursor: pointer;
}

#button.show {
  opacity: 1;
  visibility: visible;
}