* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

section {
  margin: 0 auto;
}

.s-link {
  color: #f45e00;
}
.s-link:hover {
  color: #ffce1a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

.section {
  padding: 100px 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 680px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.container-fluid {
  max-width: 650px;
  padding: 0;
}

.main {
  margin: 100px auto;
  background-color: #fff;
}

.email--padding {
  padding: 2em 2em 1em 2em;
}

.bg-gray {
  background-color: #f7f7f7;
}

html {
  background: rgba(130, 115, 252, 0.05);
  --bg: #fff;
  --bg-gray:#f7f7f7;
  --color: #000;
  --bg-light: #fff;
  --color-light-gray2:rgba(27,27,45,0.7);
  --color-light-gray: rgba(247,247,247);
  --border-color: rgb(238, 238, 238);
}
html iframe {
  filter: grayscale(0%);
}

html[data-theme=dark] {
  --bg: #232220;
  --bg-gray:#282828;
  --color: #fff;
  --bg-light:#282828;
  --color-light-gray2:#fff;
  --color-light-gray:rgba(255,255,255,0.03);
  --border-color: #59595c;
}
html[data-theme=dark] iframe {
  filter: grayscale(100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
  transition-delay: 0 !important;
}

#button {
  display: inline-block;
  background-color: #ff6600;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #fff;
  line-height: 48px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button:hover {
  cursor: pointer;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.footer {
  background-color: black;
  color: #fff;
  padding-bottom: 10px;
}
.footer .footer__content .footer__wrap h3 {
  padding-bottom: 10px;
}
.footer .footer__content .footer__wrap .footer__detail {
  padding-right: 3rem;
}
@media screen and (max-width: 991px) {
  .footer .footer__content .footer__wrap .footer__detail {
    margin-bottom: 30px;
  }
}
.footer .footer__content .footer__wrap .footer__detail h3 {
  font-weight: 700;
}
.footer .footer__content .footer__wrap .footer__detail p {
  font-size: 18px;
  font-weight: 300;
  color: #a5a2a1;
  line-height: 1.4;
  letter-spacing: 1;
  padding: 10px 0;
}
.footer .footer__content .footer__wrap .footer__detail .footer__detail--social {
  display: flex;
}
@media screen and (max-width: 991px) {
  .footer .footer__content .footer__wrap .footer__detail .footer__detail--social {
    justify-content: center;
  }
}
.footer .footer__content .footer__wrap .footer__detail .footer__detail--social .footer__link--social {
  margin-right: 20px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #ff6600;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s;
}
.footer .footer__content .footer__wrap .footer__detail .footer__detail--social .footer__link--social:hover {
  background-color: #ff6600;
  color: #fff;
  cursor: pointer;
}
.footer .footer__content .footer__wrap .footer__detail--link h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1;
}
.footer .footer__content .footer__wrap .footer__detail--link a {
  font-size: 16px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 2.2;
  letter-spacing: 1;
  transition: all 0.5s;
}
.footer .footer__content .footer__wrap .footer__detail--link a:hover {
  color: #ff6600;
  cursor: pointer;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe p {
  font-size: 16px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 1.6;
  letter-spacing: 1;
  padding: 10px 0 5px;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .form-control {
  padding: 1rem 1rem;
  background-color: var(--bg);
  border: 1px solid transparent;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .form-control:focus {
  border-color: #ff6600;
  box-shadow: none;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .btn {
  width: 100%;
  padding: 1rem;
  background-color: #ff6600;
  border-color: #ff6600;
  transition: all 0.5s;
}
.footer .footer__content .footer__wrap .footer__detail--subcribe .btn:hover {
  opacity: 0.7;
}
.footer .footer__content .footer__bottom {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .footer .footer__content .footer__bottom {
    flex-direction: column;
  }
  .footer .footer__content .footer__bottom p {
    text-align: center;
  }
}
.footer .footer__content .footer__bottom .footer__left p {
  font-size: 18px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 1.5;
  letter-spacing: 1;
}
.footer .footer__content .footer__bottom .footer__left p span {
  color: #ff6600;
  transition: all 0.5s;
}
.footer .footer__content .footer__bottom .footer__left p span:hover {
  color: #fff;
  cursor: pointer;
}
.footer .footer__content .footer__bottom .footer__right span {
  padding-left: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #a5a2a1;
  line-height: 1.5;
  letter-spacing: 1;
  transition: all 0.5s;
}
.footer .footer__content .footer__bottom .footer__right span:hover {
  color: #ff6600;
  cursor: pointer;
}

.sidebar {
  background-color: #0D1326;
  color: #8F95A9;
  padding: 30px 5px 40px;
  display: inline-block;
  text-align: center;
  border-radius: 10px 0 0 10px;
  position: fixed;
  line-height: 1.5;
  top: 10%;
  right: 0;
  z-index: 1000;
}
.sidebar .sidebar__next {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(143, 149, 169, 0.4);
  margin-bottom: 30px;
}
.sidebar .sidebar__content {
  transition: all 0.5s;
}
.sidebar .sidebar__content:hover {
  color: #fff;
  cursor: pointer;
}
.sidebar .sidebar__content p {
  color: #8F95A9 !important;
  font-size: 16px;
}

.header, .headerSub {
  padding-top: 20px;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsla(30deg, 100%, 1%, 0.2)), url("../img_landing_page/banner1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
}
@media screen and (max-width: 768px) {
  .header, .headerSub {
    min-height: 600px;
  }
}
.header .navbar .navbar-brand, .headerSub .navbar .navbar-brand {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.header .navbar .navbar-toggler, .headerSub .navbar .navbar-toggler {
  padding: 0;
  margin-left: 10px;
  border: transparent;
}
.header .navbar .navbar-toggler:focus, .headerSub .navbar .navbar-toggler:focus {
  border: transparent;
  box-shadow: none;
}
.header .navbar .navbar-toggler .navbar-toggler-icon, .headerSub .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.header .navbar .offcanvas.offcanvas-end, .headerSub .navbar .offcanvas.offcanvas-end {
  width: 100%;
}
.header .navbar .offcanvas, .headerSub .navbar .offcanvas {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.header .navbar .offcanvas a, .headerSub .navbar .offcanvas a {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 2;
  letter-spacing: 0;
  transition: all 0.5s;
}
.header .navbar .offcanvas a:hover, .headerSub .navbar .offcanvas a:hover {
  color: #ff6600;
}
.header .navbar .offcanvas .offcanvas-header .btn-close, .headerSub .navbar .offcanvas .offcanvas-header .btn-close {
  width: 30px;
  height: 30px;
  background: none;
  line-height: 30px;
  background-color: #ff6600;
  opacity: 1;
  color: #fff;
  font-size: 18px;
}
.header .searchbox, .headerSub .searchbox {
  position: relative;
}
@media screen and (max-width: 768px) {
  .header .searchbox, .headerSub .searchbox {
    width: 200px;
    margin: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .header .searchbox, .headerSub .searchbox {
    width: 0;
  }
}
.header .searchbox input, .headerSub .searchbox input {
  background-color: var(--bg);
  width: 250px;
  border: 0px;
  height: 50px;
  padding: 0px 35px;
  font-size: 16px;
  outline: none;
}
.header .searchbox input:focus, .headerSub .searchbox input:focus {
  box-shadow: none;
}
@media screen and (max-width: 576px) {
  .header .searchbox input, .headerSub .searchbox input {
    display: none;
  }
}
.header .searchbox .searchbtn, .headerSub .searchbox .searchbtn {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .header .searchbox .searchbtn, .headerSub .searchbox .searchbtn {
    display: none;
  }
}
.header .searchbox .searchbtn .fas, .headerSub .searchbox .searchbtn .fas {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  color: var(--color-light-gray2);
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .header .searchbox .searchbtn .fas, .headerSub .searchbox .searchbtn .fas {
    left: 90%;
  }
}
.header .header__bottom .header__content, .headerSub .header__bottom .header__content {
  max-width: 600px;
  text-align: left;
  padding-top: 100px;
}
.header .header__bottom .header__content h1, .headerSub .header__bottom .header__content h1 {
  font-size: 63px;
  font-weight: 500;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 0;
}
@media screen and (max-width: 1199px) {
  .header .header__bottom .header__content h1, .headerSub .header__bottom .header__content h1 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media screen and (max-width: 768px) {
  .header .header__bottom .header__content h1, .headerSub .header__bottom .header__content h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
.header .header__bottom .header__content p, .headerSub .header__bottom .header__content p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.8;
  letter-spacing: 1.5;
  padding: 20px 0;
}

.headerSub {
  background-image: linear-gradient(to right, rgba(236, 98, 6, 0.98), rgba(5, 3, 0, 0.83)), url("../img/banner2.jpg") !important;
  min-height: 350px !important;
  position: relative;
}
.headerSub .header__detail .header__detail--info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  letter-spacing: 0;
}
.headerSub .header__detail .header__detail--info a.active {
  font-size: 18px;
  font-weight: 700;
  color: #ff6600;
  line-height: 1.3;
  letter-spacing: 0;
}
.headerSub .header__detail .header__detail--info i {
  padding: 0 20px;
}
.headerSub .header__detail .header__detail--info a {
  color: #fff;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.dark {
  position: absolute;
  top: 5px;
  left: 0;
  cursor: pointer;
}

.theme {
  position: relative;
  overflow: hidden;
  font-size: 22px;
  color: #fff;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .theme {
    margin-left: 3rem !important;
  }
}

.light {
  position: absolute;
  top: 5px;
  left: 0;
  display: none;
  cursor: pointer;
}

.btn-primary {
  border-radius: 5px;
  background-color: transparent;
  padding: 15px 45px;
  border: 2px solid #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.5s;
}
.btn-primary .btn__content {
  color: #fff;
  transition: all 0.5s;
}
.btn-primary span {
  padding-right: 10px;
}
.btn-primary:hover {
  background-color: #fff;
  color: #ff6600;
  border-color: transparent;
}
.btn-primary:hover .btn__content {
  color: #ff6600;
}

.title {
  text-transform: capitalize;
}
.title p {
  font-family: "Pacifico";
  font-size: 20px;
  font-weight: 400;
  color: #ff6600;
  line-height: 1;
  letter-spacing: 1;
}
.title h3 {
  font-size: 38px;
  font-weight: 500;
  color: var(--color);
  line-height: 1;
  letter-spacing: 1;
}

.plans {
  background-color: var(--bg);
}
.plans .plans__content .plans__title {
  text-align: center;
}
.plans .plans__content .plans__detail {
  margin-top: 50px;
  padding: 0 20px;
}
.plans .plans__content .plans__detail .plans__top {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  color: var(--color);
  line-height: 1;
  letter-spacing: 0;
  border-bottom: 2px dotted #888;
}
.plans .plans__content .plans__detail .plans__top .plans__price {
  color: #ff6600;
}
.plans .plans__content .plans__detail .plans__bottom {
  color: var(--color);
  padding-top: 15px;
}

.about {
  padding: 50px 0 0;
  background-color: var(--bg);
  color: var(--color);
}
.about .about__content .about__top {
  padding: 50px 0 100px;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .about .about__content .about__top {
    justify-content: space-between;
  }
}
@media screen and (max-width: 991px) {
  .about .about__content .about__top {
    flex-direction: column;
  }
}
.about .about__content .about__top .about__left {
  width: 50%;
  box-sizing: border-box;
  max-width: 40%;
  padding-right: 5rem;
}
@media screen and (max-width: 1199px) {
  .about .about__content .about__top .about__left {
    padding: 0;
    font-size: 32px;
    line-height: 40px;
    text-transform: initial;
  }
}
@media screen and (max-width: 991px) {
  .about .about__content .about__top .about__left {
    min-width: 100%;
    margin-bottom: 24px;
  }
  .about .about__content .about__top .about__left h3 {
    font-size: 32px;
    line-height: 40px;
  }
}
.about .about__content .about__top .about__right {
  width: 50%;
  padding-left: 3rem;
}
@media screen and (max-width: 991px) {
  .about .about__content .about__top .about__right {
    padding: 0;
    width: 100%;
  }
}
.about .about__content .about__top .about__right p {
  font-size: 18px;
  line-height: 28px;
}
.about .about__content .about__bottom {
  background-color: #ff6600;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .about .about__content .about__bottom {
    flex-direction: column;
  }
}
.about .about__content .about__bottom .about__left {
  width: 50%;
  background: url(../img_index/banner3.jpg) no-repeat center;
  background-size: cover;
  min-height: 600px;
  position: relative;
  z-index: 1;
}
.about .about__content .about__bottom .about__left::before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 991px) {
  .about .about__content .about__bottom .about__left {
    width: 100%;
    min-height: 200px;
  }
  .about .about__content .about__bottom .about__left::before {
    height: 100%;
  }
}
.about .about__content .about__bottom .about__right {
  width: 50%;
  padding: 3rem 5rem;
}
@media screen and (max-width: 1199px) {
  .about .about__content .about__bottom .about__right {
    padding: 3rem;
  }
}
@media screen and (max-width: 991px) {
  .about .about__content .about__bottom .about__right {
    width: 100%;
  }
}
.about .about__content .about__bottom .about__right .about__title p {
  color: #fff;
}
@media screen and (max-width: 991px) {
  .about .about__content .about__bottom .about__right .about__title p {
    color: #ffdfc9;
  }
}
.about .about__content .about__bottom .about__right .about__title h3 {
  padding-right: 30px;
}
@media screen and (max-width: 991px) {
  .about .about__content .about__bottom .about__right .about__title h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 576px) {
  .about .about__content .about__bottom .about__right .about__title h3 {
    font-size: 26px;
    line-height: 38px;
  }
}
.about .about__content .about__bottom .about__right .about__detail {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1;
  padding: 15px 0 25px;
}
@media screen and (max-width: 576px) {
  .about .about__content .about__bottom .about__right .about__detail {
    font-size: 16px;
    line-height: 30px;
  }
}
.about .about__content .about__bottom .about__right .about__evaluate {
  display: flex;
}
.about .about__content .about__bottom .about__right .about__evaluate .about__evaluate--content {
  padding-right: 30px;
}
.about .about__content .about__bottom .about__right .about__evaluate .about__evaluate--content span {
  background-color: #fff;
  color: #ff6600;
  padding: 20px;
  font-size: 25px;
  border-radius: 5px;
  transition: all 0.5s;
}
.about .about__content .about__bottom .about__right .about__evaluate .about__evaluate--content span:hover {
  color: rgb(255, 198, 0);
  cursor: pointer;
}
.about .about__content .about__bottom .about__right .about__evaluate .about__evaluate--content h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  line-height: 1;
  letter-spacing: 1;
  padding: 25px 0;
  margin: 0;
}
.about .about__content .about__bottom .about__right .about__evaluate .about__evaluate--content p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1;
}
@media screen and (max-width: 576px) {
  .about .about__content .about__bottom .about__right .about__evaluate .about__evaluate--content p {
    font-size: 16px;
    line-height: 30px;
  }
}

.contact .contact__content .contact__title {
  position: relative;
}
.contact .contact__content .contact__title .contact__info {
  background: url("../img_index/banner2.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 8rem 0;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .contact .contact__content .contact__title .contact__info {
    padding: 3rem 0;
  }
}
.contact .contact__content .contact__title .contact__info .contact__info--content {
  max-width: 500px;
  margin: 0 auto;
}
.contact .contact__content .contact__title .contact__info .contact__info--content h3 {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  letter-spacing: 1;
  padding-bottom: 50px;
}
.contact .contact__content .contact__title .contact__info .contact__info--content .contact__button {
  display: flex;
  justify-content: space-around;
}
.contact .contact__content .contact__title .contact__info .contact__info--content .contact__button .btn-primary {
  transition: all 0.5s;
}
.contact .contact__content .contact__title .contact__info .contact__info--content .contact__button .btn-primary--second {
  background-color: #ff6600;
  color: #fff;
  border-color: transparent;
}
.contact .contact__content .contact__title .contact__info .contact__info--content .contact__button .btn-primary--second:hover {
  opacity: 0.8;
}
.contact .contact__content .contact__title .contact__info .contact__info--content .contact__button .btn-primary--second:hover .btn__content {
  color: #fff;
}
.contact .contact__content .contact__title .contact__info .contact__info--content .contact__button:hover {
  cursor: pointer;
}
.contact .contact__content .contact__title .contact__info::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.contact .contact__content .contact__title .contact__card {
  background-color: var(--bg);
  position: absolute;
  bottom: -40%;
  z-index: 1;
  width: 100%;
  padding: 0 80px;
}
@media screen and (max-width: 991px) {
  .contact .contact__content .contact__title .contact__card {
    bottom: initial;
  }
}
@media screen and (max-width: 768px) {
  .contact .contact__content .contact__title .contact__card {
    position: relative;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .contact .contact__content .contact__title .contact__card {
    position: relative;
    padding: 20px 0;
  }
  .contact .contact__content .contact__title .contact__card .row {
    --bs-gutter-x:0;
  }
}
.contact .contact__content .contact__title .contact__card .col-lg-3 {
  padding: 0 20px;
}
@media screen and (max-width: 1199px) {
  .contact .contact__content .contact__title .contact__card .col-lg-3 {
    padding: 0 10px;
  }
}
.contact .contact__content .contact__title .contact__card .contact__card--detail {
  border-radius: 10px;
  background-color: var(--bg);
  padding: 40px 20px;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  text-align: center;
  transition: all 0.5s;
}
@media screen and (max-width: 991px) {
  .contact .contact__content .contact__title .contact__card .contact__card--detail {
    margin: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .contact .contact__content .contact__title .contact__card .contact__card--detail {
    margin: 15px 0;
  }
}
.contact .contact__content .contact__title .contact__card .contact__card--detail span {
  background-color: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.contact .contact__content .contact__title .contact__card .contact__card--detail h1 {
  font-size: 38px;
  font-weight: 700;
  color: var(--color);
  line-height: 1;
  letter-spacing: 1;
  padding: 15px 0;
}
.contact .contact__content .contact__title .contact__card .contact__card--detail p {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-light-gray2);
  line-height: 1;
  letter-spacing: 1;
}
.contact .contact__content .contact__title .contact__card .contact__card--detail:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: all 0.5s;
}

.activity {
  background-color: var(--bg);
}
.activity .activity__content .activity__card {
  border-radius: 10px;
  background-color: transparent;
  padding: 15px 45px;
  border: 1px solid var(--border-color);
  margin: 20px 10px;
  padding: 40px 35px;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.5s;
}
@media screen and (max-width: 1199px) {
  .activity .activity__content .activity__card {
    margin: 10px 0;
  }
}
.activity .activity__content .activity__card .activity__card--top {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.activity .activity__content .activity__card .activity__card--top .activity__card--logo {
  font-size: 30px;
  font-weight: 400;
  color: #ff6600;
  line-height: 1;
  letter-spacing: 1;
  padding: 20px;
  background-color: rgba(130, 115, 252, 0.05);
  border-radius: 5px;
  margin-right: 30px;
  transition: all 0.5s;
}
.activity .activity__content .activity__card .activity__card--top .activity__card--title p {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-light-gray2);
  line-height: 1.5;
  letter-spacing: 1;
  margin: 0 0 2px;
}
.activity .activity__content .activity__card .activity__card--top .activity__card--title h3 {
  font-size: 25px;
  font-weight: 700;
  color: var(--color);
  line-height: 1;
  letter-spacing: 1;
  transition: all 0.5s;
}
.activity .activity__content .activity__card .activity__card--top .activity__card--title h3:hover {
  color: #ff6600;
}
@media screen and (max-width: 768px) {
  .activity .activity__content .activity__card .activity__card--top .activity__card--title h3 {
    font-size: 20px;
  }
}
.activity .activity__content .activity__card .activity__card--bottom p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(121, 119, 119);
  line-height: 1.5;
  letter-spacing: 1;
}
.activity .activity__content .activity__card:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}
.activity .activity__content .activity__card:hover .activity__card--logo {
  background-color: #ff6600;
  color: #fff;
}