.find-us{
    padding: 50px 0;
    background-color: var(--bg);
    color: var(--color);
    .find-content{
        .row{
            .col-lg-4{
                &>div{
                    &>span{
                        font-size: 20px;
                        margin-top: 5px;
                        color: #ff6600;
                        margin-right: 20px;
                    }
                    &>div{
                        margin-bottom: 20px;
                        &>p:first-child{
                            font-size: 20px;
                            font-weight: 500;
                            margin-bottom: 0;
                        }
                        &>p:last-child{
                            font-size: 18px;
                            margin-bottom: 0;
                        }
                    }
                    .address-text{
                            .text-padding{
                                padding-right: 150px;
                            }
                    }
                }
            }
            .col-lg-8{

            }
        }
    }
}