.new{
    background-color: var(--bg-light);
    .new__content{
        .new__title{
            text-align: center;
            padding-bottom: 30px;
        }
        .new__detail{
            .new__card{
                position: relative;
                padding: 20px 10px;
                overflow: hidden;
                .new__card--img{
                    position: relative;
                    img{
                        width: 100%;
                        border-radius: $radius-1;
                        
                    }
                    &::before{
                        content:"";
                        position: absolute;
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        border-radius: $radius-1;
                        transition: all 0.5s;

                    }
                    &:hover{
                        &::before{
                            opacity: 0.5;
                        }
                    }
                   
                }
                .new__card--info{
                    position: absolute;
                    bottom: 20px;
                    left: 50px;
                    h4{
                        @include styleFont($fs-3, $fw-7, $color-white, 1, 1);
                    }
                    p{
                        @include styleFont($fs-3, $fw-7, $color-secondary-primary, 1.5, 1);
                    }
                }
            }
        }
    }
}