.post{
    background-color: var(--bg-light);
    .post__content{
        .post__title{
            text-align: center;
            padding-bottom: 30px;
        }
        .post__card{
            .row>* {
                padding-right: calc(var(--bs-gutter-x) * .75);
                padding-left: calc(var(--bs-gutter-x) * .75);
                @include responsive("extra-large"){
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
            .post__card--content{
                @include responsive("large"){
                    margin-bottom: 30px;
                }
                .post__card--img{
                    position: relative;
                    img{
                        width: 100%;
                        border-radius: $radius-1;
                    }
                    .post__card--bottom{
                        position: absolute;
                        display: flex;
                        bottom: 20px;
                        left: 20px;
                        .post__card--info{
                            width: 80px;
                            height: 25px;
                            text-align: center;
                            border-radius: $radius-2+5;             
                            background-color: $bg-primary;
                            @include styleFont(13px, $fw-7, $color-white, 25px, 1);
                        }
                        .post__card--time{
                            padding-left: 10px;
                            @include styleFont($fs-1, $fw-3, $color-white, 25px, 1);
                            i{
                                padding-right: 5px;
                            }
                        }
                    }
                }
                .post__card--detail{
                    padding: 30px 10px 0;
                    .post__card--title{
                        h3{
                            @include styleFont($fs-6, $fw-7, var(--color), 1.3, 1);
                            padding-bottom: 10px;
                        }
                        p{
                            @include styleFont($fs-5, $fw-3, var(--color), 1.4, 1);

                        }
                    }
                }
                .post__card--footer{
                    display: flex;
                    padding: 0 10px;
                    justify-content: space-between;
                    align-items: center;

                    .post__card--writer{
                        display: flex;
                        align-items: center;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                        span{
                            @include styleFont($fs-1, $fw-7, var(--color), 1, 1);
                            padding-left: 10px;
                        }
                    }
                    .post__card--button{
                        .card--button{
                            .btn__content{
                                @include styleFont($fs-1, $fw-7, var(--color), 1, 0);
                                transition: all 0.5s;
                                span{
                                    padding-right: 10px;
                                }
                                &:hover{
                                    color: $color-primary;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}