*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    
}

body{
    background-color: var(--bg);
}

.section{
    padding: 100px 0;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1280px;
    @include responsive("extra-large"){
        max-width: 960px;
    }
    @include responsive("large"){
        max-width: 720px;
    }
    @include responsive("medium"){
        max-width: 680px;
    }
    @include responsive("small"){
        max-width: 540px;
    }
}


// Email 
.container-fluid{
    max-width: 650px;
    padding: 0;
}

.main{
    margin: 100px auto;
    background-color: $bg-white;
}

.email--padding{
    padding: 2em 2em 1em 2em;
}

.bg-gray{
    background-color: #f7f7f7;
}

html {
    background: $bg-light;
  
    --bg: #fff;
    --color: #000;
    --bg-light: #fff;
    --color-light-gray: rgb(121, 119, 119);
    iframe{
        filter:grayscale(0%);
    }
    --border-color: rgb(238, 238, 238)

}
  
  html[data-theme="dark"] {
    background: #232220;

      --bg: #232220;
      --color: #fff;
      --bg-light:#282828;
      --color-light-gray:#fff;
      iframe{
        filter:grayscale(100%);
    }
    --border-color: #59595c;

  }

  html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
  transition-delay: 0!important;
}


